<div class="card">
  <img src="https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg" alt="John" style="width:100%">
  <h1 style="color: black">{{User.name}}</h1>
  <p class="title">Email : {{User.email}}</p>
  <p>Role: {{User.role}}</p>
  <div style="margin: 24px 0;">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-twitter-square"></i>
    <i class="fab fa-linkedin"></i>
    <i class="fab fa-instagram"></i>
 </div>
 <p><button>Contact</button></p>
</div>