<div class="custom-container">
  <div class="custom-menu">
    <div class="content-menu">
      <h4>My Well</h4>
      <div class="form">
        <input type="search" name="Search" placeholder="Search">
      </div>
      <div class="icon">
        <i class="fas fa-search"></i>
      </div>
      <div class="list-menu">
        <ul style="margin-top: 15px;">
          <li>22987- RELENT ENERGY UNIT..</li>
          <li>22987- RELENT ENERGY UNIT..</li>
          <li>22987- RELENT ENERGY UNIT..</li>
          <li>22987- RELENT ENERGY UNIT..</li>
          <li>22987- RELENT ENERGY UNIT..</li>
          <li>22987- RELENT ENERGY UNIT..</li>
          <li>22987- RELENT ENERGY UNIT..</li>
          <li>22987- RELENT ENERGY UNIT..</li>
          <li>22987- RELENT ENERGY UNIT..</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="custom-midlle">
    <div class="header">
      <button>
        <</button> 22987- RELENT ENERGY UNIT <button>>
      </button>
    </div>
    <div class="content-middle">
      <div class="detail">
        <span>ID: 123</span><br>
        <span>Name: LandMark</span><br>
        <span> 22987</span><br>
        <span> RELENT ENERGY UNIT</span><br>
      </div>
      <div class="map">
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
  <div class="custom-right">
    
  </div>
</div>